.slide_elem {
  visibility: hidden;
}

.dyplom {
  margin: 10px auto;
  width: 50%;
  display: block;
}
.dyplom:hover {
  cursor: ew-resize;
}

.about_wraper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.about_h3 {
  margin: 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: rgb(255, 51, 153);
}

.about_content {
  width: 100%;
}

.about_img {
  float: right;
  margin: 20px;
  border-radius: 50%;
  width: 8%;
}

.about_img2 {
  float: left;
  margin: 20px;
  border-radius: 50%;
  width: 8%;
}

.about_img3 {
  display: none;
}

.about_p {
  margin: 20px;
}

@media (max-width: 1250px) {
  .about_img,
  .about_img2 {
    width: 15%;
  }
  .dyplom {
    width: 55%;
  }
}

@media (max-width: 991px) {
  .about_p {
    margin: 15px;
    font-size: 12px;
  }
  .dyplom {
    width: 65%;
  }
}

@media (max-width: 800px) {
  .about_img,
  .about_img2 {
    width: 20%;
  }
  .about_p {
    margin: 10px;
    font-size: 10px;
  }
}

@media (max-width: 650px) {
  .about_p {
    margin: 5px;
  }
  .dyplom {
    width: 75%;
  }
}

@media (max-width: 470px) {
  .about_img3 {
    display: flex;
    margin: 5px;
    width: 35%;
    border-radius: 50%;
    float: right;
  }
  .about_img,
  .about_img2 {
    margin: 5px;
    width: 35%;
  }
  .dyplom {
    width: 80%;
  }
}
