.slide_elem {
  visibility: hidden;
}

.dyplom {
  margin: 10px auto;
  width: 50%;
  display: block;
}
.dyplom:hover {
  cursor: ew-resize;
}
@media (max-width: 1250px) {
  .dyplom {
    width: 55%;
  }
}

@media (max-width: 991px) {
  .dyplom {
    width: 65%;
  }
}

@media (max-width: 650px) {
  .dyplom {
    width: 75%;
  }
}

@media (max-width: 470px) {
  .dyplom {
    width: 80%;
  }
}
