.header_wraper {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
  position: sticky;
  top: 2px;
  background: #ffcccc;
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
  z-index: 1000;
}
.header_h1,
.header_h3 {
  margin: 0;
  position: relative;
  right: -120%;
}
.header_ul {
  margin-right: 100px;
  padding-left: 0;
}
.header_li {
  list-style: none;
  text-decoration: none;
  display: inline-block;
  margin-left: 50px;
}
.header_li:hover {
  background-color: #ff3399;
}
.header_a {
  text-decoration: none;
  color: #c53bba;
  font-size: 20px;
}
.header_a:hover {
  color: antiquewhite;
}
.header_img {
  display: flex;
  position: absolute;
  bottom: -60px;
  left: 20px;
  width: 75%;
  border-radius: 50%;
}
.header_routing {
  display: flex;
  position: absolute;
  flex-direction: row;
  right: -20px;
}
.img_name {
  color: #ff3399;
  display: flex;
  position: absolute;
  flex-direction: column;
  left: 50px;
}
@media (max-width: 1200px) {
  .header_ul {
    margin-right: 50px;
  }
  .header_li {
    margin-left: 10px;
  }
}
@media (max-width: 1000px) {
  .header_ul {
    margin-right: 5px;
  }
  .header_li {
    display: block;
    margin-top: 5px;
    margin-left: 5px;
  }
  .header_routing {
    right: 50px;
  }
  .header_h1 {
    font-size: 25px;
  }
  .header_h3 {
    font-size: 15px;
  }
  .header_img {
    bottom: -90%;
  }
}
@media (max-width: 650px) {
  .header_img {
    bottom: -50px;
    left: 20px;
    width: 45%;
  }
  .header_h1,
  .header_h3 {
    right: 10%;
    top: -50px;
  }
}
@media (max-width: 420px) {
  .header_a {
    font-size: 15px;
  }
  .img_name {
    left: 10px;
  }
  .header_routing {
    right: 10px;
  }
  .header_h1,
  .header_h3 {
    left: 0%;
  }
}
