.footer_wraper {
  background-color: #ffcccc;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
}
.social_media_icons {
  padding: 15px;
  flex-direction: row;
}
.allRightProtect_Wraper {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 0px;
}
.allRightProtect {
  font-size: 11px;
}
