.App {
  margin: 0;
  padding: 0;
}
/* зробити слас активний лінк в навігації хедера */
/* .active_nav_link {
  background-color: #ff3399;
  text-decoration: underline rgb(255, 255, 255);
} */

@media (max-width: 400px) {
  body {
    min-width: 300px;
  }
}
